<aside class="container">
	<nav id="navigation" class="py-8">
		<a class="site-profile" href='{{ "/" | relURL }}'>
			<img
					src="https://www.gravatar.com/avatar/b2623db89a42dd363c33d1d4df39654a?s=100"
					alt="James R. Williams"
					onerror="this.style.display='none'"
			>
			<span class="px-8">James R. Williams</span>
		</a>

		<div class="spacer"></div>

		<ul class="m-0 p-0 list-none">
			<li><a href="https://docs.google.com/document/d/1T1Ohlnh0rdVUGVhlCK3H4n6h2Nr_MxqMuLz92wJI4bg/view">Resume</a></li>
			<li><a href="/blog/">Posts</a></li>
			<li><a href="/hire/">Let's Talk</a></li>
		</ul>
	</nav>
</aside>


