footer {
	font-size: 14px;
	background: #021526;
	color: #fff;
	padding: 50px;

	span {
		height: 30px;
		line-height: 30px;
	}

	svg {
		width: 17px;
		margin: 5px 0 0;
		fill: $text-color;
		transition: fill 1s ease;

		@media (prefers-color-scheme: dark) {
			fill: #fff;
		}
	}
}

.homepage footer {
	background: transparent;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 400;
}
