footer {
	color: $text-color;
	font-size: 14px;
	background: #fff;

	@media (prefers-color-scheme: dark) {
		background: darken($text-color, 10%);
		color: #fff;
	}

	span {
		height: 30px;
		line-height: 30px;
	}

	svg {
		width: 17px;
		margin: 5px 0 0;
		fill: $text-color;
		transition: fill 1s ease;

		@media (prefers-color-scheme: dark) {
			fill: #fff;
		}
	}
}
